<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/_layout}">
>
<head>
    <title>Carga académica</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <h1>Alumnos Matriculados</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="enrollmentsTable" class="table table-bordered table-hover">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>DNI</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Nombres</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-capitalize"></tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scripts">
    <!-- Scripts de la pagina-->
    <script type="application/javascript" th:src="@{/scripts/workloads/enrollments.js}"></script>
    <script type="application/javascript">
        var gradeId = [[${gradeId}]];
        var sectionId = [[${sectionId}]];
        enrollmentModule(jQuery, gradeId, sectionId).main();
    </script>
</th:block>
</body>
</html>