<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/_layout}">
>
<head>
  <title>404-No encontrado</title>
</head>
<body>
  <th:block layout:fragment="content">
    <!-- Page Content -->
    <div class="container-fluid">
      <!-- 404 Error Text -->
      <div class="text-center">
        <div class="error mx-auto" data-text="505">505</div>
        <p class="lead text-gray-800 mb-5">Ocurrió un problema</p>
        <p class="text-gray-500 mb-0">Por favor contacta con soporte técnico</p>
        <a th:href="@{/}">&larr; Vuelve al inicio</a>
      </div>
    </div>
    <!-- End of Page Content -->
  </th:block>
  <th:block layout:fragment="scripts">
    <!-- Scripts de la pagina-->
  </th:block>
</body>
</html>

       